body {
   font-family: Arial, sans-serif;
   background-color: rgb(180, 180, 236);
}


.1 {
   border: 200px solid #ccc;
   padding: 20px;
   margin: 10px;
   text-align: center;
}


.movie-card img {
   max-width: 100%;
   height: auto;
}
